*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json

!doc
!doc/**
doc/taskmaster\ 3.0.pdf

!Taskmaster
!Taskmaster/**
build/
taskmasterd

!TaskmasterCTL
!TaskmasterCTL/**
build
taskmasterctl

!.gitignore
!README.md
!LICENSE
!TODO.md