*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json

!etc/
!etc/**

!doc
!doc/**
doc/taskmaster\ 3.1.pdf

!Taskmaster
!Taskmaster/**
build/
taskmasterd
logfile.log

!TaskmasterCTL
!TaskmasterCTL/**
build
taskmasterctl

!.gitignore
!README.md
!LICENSE
!TODO.md